<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="dashboard-users-card" class="huge"></div>
                                <div>Users</div>
                            </div>
                        </div>
                    </div>
                    <a href="#users">
                        <div class="panel-footer">
                            <span class="pull-left">View Users</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="dashboard-posts-card" class="huge"></div>
                                <div>Posts</div>
                            </div>
                        </div>
                    </div>
                    <a href="#posts">
                        <div class="panel-footer">
                            <span class="pull-left">View Posts</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="dashboard-games-card" class="huge"></div>
                                <div>Games</div>
                            </div>
                        </div>
                    </div>
                    <a href="#games">
                        <div class="panel-footer">
                            <span class="pull-left">View Games</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-list fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="dashboard-categories-card" class="huge"></div>
                                <div>Categories</div>
                            </div>
                        </div>
                    </div>
                    <a href="#categories">
                        <div class="panel-footer">
                            <span class="pull-left">View Categories</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-gray">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="dashboard-comments-card" class="huge"></div>
                                <div>Comments</div>
                            </div>
                        </div>
                    </div>
                    <a href="#comments">
                        <div class="panel-footer">
                            <span class="pull-left">View Comments</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-gold">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-star fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div id="dashboard-ratings-card" class="huge"></div>
                                <div>Ratings</div>
                            </div>
                        </div>
                    </div>
                    <a href="#ratings">
                        <div class="panel-footer">
                            <span class="pull-left">View Ratings</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            
            </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script src="./assets/js/utils.js"></script>

<script src="./assets/js/AUtils.js"></script>
<script src="./assets/js/restClient.js"></script>
<script src="./assets/js/controllers/login.js"></script>
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/dataTables/jquery.dataTables.min.js" type="text/javascript"></script>
<script>

adminSetup();

  function adminSetup(){
    if (!window.localStorage.getItem("token")){
      document.getElementById("page-wrapper").style.marginLeft = "0px";
    }
    if(window.localStorage.getItem("token")){
      var user_info = parse_jwt(window.localStorage.getItem("token"));
      if (user_info.user_role != "2"){
        document.getElementById("page-wrapper").style.marginLeft = "0px";
      }
    }
  }
  $("#dashboard-users-card").html(getTotalUsers());
  $("#dashboard-posts-card").html(getTotalPosts());
  $("#dashboard-games-card").html(getTotalGames());
  $("#dashboard-categories-card").html(getTotalCategories());
  $("#dashboard-comments-card").html(getTotalComments());
  $("#dashboard-ratings-card").html(getTotalRatings());

  
  function getTotalUsers(){
    let value = $.ajax({
         url: "admin/users",
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         async: false,
         success: function(data) {
         }
      });
    return value.responseJSON.length;
  }


  function getTotalPosts(){
    let value = $.ajax({
         url: "admin/posts",
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         async: false,
         success: function(data) {
         }
      });
    return value.responseJSON.length;
  }

  function getTotalGames(){
    let value = $.ajax({
         url: "api/games",
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         async: false,
         success: function(data) {
         }
      });
    return value.responseJSON.length;
  }

  function getTotalCategories(){
    let value = $.ajax({
         url: "admin/categories",
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         async: false,
         success: function(data) {
         }
      });
    return value.responseJSON.length;
  }

  function getTotalComments(){
    let value = $.ajax({
         url: "admin/comments",
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         async: false,
         success: function(data) {
         }
      });
    return value.responseJSON.length;
  }

  function getTotalRatings(){
    let value = $.ajax({
         url: "admin/ratings",
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         async: false,
         success: function(data) {
         }
      });
    return value.responseJSON.length;
  }

</script>