72 lines (65 sloc)  2.28 KB
  
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">User Profile</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div id="profile-container" class="row">

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script src="./assets/js/utils.js"></script>

<script src="./assets/js/AUtils.js"></script>
<script src="./assets/js/restClient.js"></script>
<script src="./assets/js/controllers/login.js"></script>
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/dataTables/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript">
  window.onload=adminSetup();

  (function reloading(){
    if( window.localStorage ){
      if( !localStorage.getItem('firstLoadProfile') ){
        localStorage['firstLoadProfile'] = true;
        window.location.reload();
      }
      else{
        localStorage.removeItem('firstLoadProfile');
      }
    }
  })();

  function adminSetup(){
    if (!window.localStorage.getItem("token")){
      document.getElementById("page-wrapper").style.marginLeft = "0px";
    }
    if(window.localStorage.getItem("token")){
      var user_info = parse_jwt(window.localStorage.getItem("token"));
      if (user_info.r != "ADMIN"){
        document.getElementById("page-wrapper").style.marginLeft = "0px";
      }
    }
  }

  getProfile();

  function getProfile(){
    $.ajax({
         url: "api/user/info",
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data){
           let text = "";
             text += `<div class='col-lg-12'>
                        <div class='card' style='height: auto;'>
                          <div class='card-body'>
                            <h3 class='card-title'>${data.user_name}</h3>
                            <h6 class='card-subtitle text-muted'>Email: ${data.email}</h6>
                            <h6 class='card-subtitle text-muted'>Role: ${data.user_role}</h6>
                            <h6 class='card-subtitle text-muted'>Status: ${data.ban_status}</h6>
                           </div>
                         </div>
                       </div>`;
           $("#profile-container").html(text);
         }
      });
  }

</script>